.App {
    margin-top: 0.75em;
    min-height: 320px;
    min-width: 320px;
    display: flex;
    background: #ECEFF4;
    padding: 0.375em 0.75em;
    border: 0.75em solid #5E81AC;
    border-radius: 20px;
}
h3,p{
    color: #3B4252;
    text-align: center;
}
.input-area{
    padding: 0.375em 0.75em;
}
input{
    padding: 0.375em;
    color: #3B4252;
    border-radius: 0.25em;
    border-style: none;
}
button{
    margin: 0.375em 0.75em;
    line-height: 1.15;
    color: rgb(59, 66, 82);
    text-decoration: none;
    border-style: none;
    border-radius: 0.25em;
    background: none rgb(136, 192, 208);
    padding: 0.375em 0.75em;
    cursor: pointer;
}
